body {
  font-family: 'Ubuntu', sans-serif !important;
}
body::before {
  box-shadow: none;
  background-color: transparent;
}
.reply-title {
  font-family: 'Ubuntu', sans-serif !important;
}
.sidebar {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 20px;
  background-color: white;
  max-width: none;
}
.site {
  max-width: none;
}
.hentry,
.site-footer {
  box-shadow: none !important;
}
.entry-footer {
  text-align: right;
}
.post-barcode {
  font-size: 30px;
  opacity: 0.5;
  margin-top: 20px;
  font-family: 'Libre Barcode 128 Text', cursive;
}
#wpadminbar {
  background-color: white !important;
  color: #313131;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 30px;
}
#wpadminbar a {
  color: #313131 !important;
}
#wpadminbar a::before {
  color: #313131 !important;
}
#wpadminbar span,
#wpadminbar #adminbarsearch {
  color: #313131 !important;
}
#wpadminbar span::before,
#wpadminbar #adminbarsearch::before {
  color: #313131 !important;
}
#wpadminbar .ab-item:hover {
  background-color: white !important;
}
#wpadminbar .menupop.hover {
  background-color: white !important;
}
#wpadminbar .menupop.hover a {
  background-color: white !important;
}
#wpadminbar .ab-submenu {
  color: #313131 !important;
  background-color: white !important;
}
